* {
    box-sizing: border-box;
}

.loader {
    border: 10px solid white;
    border-top: 10px solid black;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin;
    animation-duration: 2s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}